body {
    background-image: url("https://cdn.ipadizate.com/2021/04/hello-Grey-1-dragged-2.jpg?width=1800 ") ;
    width: 100%;
    

}
h1 {
    color : darkblue;
}
img {
    width: 400px;
}
.divClass {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#thirdDiv {
    
    width: 500px;
    height: 600px;
    margin: 20px auto;
    background-color: rgb(181, 204, 223);
    padding: 50px;
    border: 1px solid grey;
}
ul {
    list-style: none;
}
#spanId {
    display: block;
    font-size: 18px;
    margin: 50px;
    text-align: justify;
}
